<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Suma Números!</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <h1> Mi cuenta es <%= @sum %></h1>
    <form action="/" method="post">
      <input type="hidden" name="count" value="1">

      <button type="submit">Suma!</button>
    </form>
  </body>
</html>
